// Grid sizes
// $max-width: ;
// $gutter: ;

// Colors
$textColor: #353535;
$mainBlue: #25389C;
$mainRed: #DB3131;

// Fonts
$mainFont: 'Open Sans', sans-serif;
$secondFont: 'Ubuntu', sans-serif;
$extraFont: 'Roboto', sans-serif;
$logoFont: 'Fira Sans', sans-serif;

// Font sizes
// $light: ;
$medium: 500;
// $semi-bold: ;
// $black: ;