/*------------------------------------------*/
/*  CART-LINK
/*------------------------------------------*/
.cart-link {
  margin-left: auto;
  width: 147px;
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.15s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff;

    .cart-icon {
      background-image: url(../img/icons/ic-cart-white.svg);
    }
  }

  &--mobile {
    margin-left: 0;
    width: auto;
    padding: 12px;

    @media (min-width: 1200px) {
      display: none;
    }

    .cart-pic {
      vertical-align: baseline;
    }
  }
}

.cart-pic {
  display: inline-block;
  vertical-align: middle;
}

.cart-icon {
  float: left;
  width: 24px;
  height: 30px;
  margin-right: 2px;
  background-image: url(../img/icons/ic-cart.svg);
  background-repeat: no-repeat;
  background-position: bottom 0% left 0%;
  background-size: auto;
  transition: background-image  0.15s ease-in-out;
}

.cart-count {
  float: left;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $mainRed;
}

.cart-text {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  font-family: $secondFont;
  font-size: rem(13);
  letter-spacing: 0.08em;
  text-transform: uppercase;
}